@model IEnumerable<Product>
@{
    ViewData["Title"] = "Index";
}
<div class="container p-1">
    <div class="row pt-1">
        <div class="col-6">
            <h4 class="text-info">Amazon Türkiye Ürün Listesi</h4>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="AmzTrProductTrack" asp-action="Create" class="btn btn-success">
            Ürün Ekle
            </a>
        </div>
    </div>

</div>

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Product Picture
            </th>
            <th>
                Product Name
            </th>
            <th>
                Price
            </th>
            <th>
                Asin
            </th>
            <th>
                Sync Date
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model)
        {
            <tr>
                <td>
                    @obj.PictureUri
                </td>
                <td>
                    @obj.Name
                </td>
                <td>
                    @obj.Price
                </td>
                <td>
                    @obj.ASIN
                </td>
                <td>
                    @obj.LastSyncTime
                </td>
            </tr>
        }
    </tbody>
</table>